<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <H1> INI HOME </H1>
    <% if (user){ %> <% var name = user.name %>
    <h1>WELCOME <%= user.name %></h1>

    <!-- <script>
      //pake script supaya token ke set ke html
      let user = JSON.stringify(token);
      localStorage.setItem("info", user); //penggunannya untuk set si token ke dalam local storage
    </script> -->

    <form action="/register" method="post">
      <input type="text" id="name" name="name" hidden />
      <br />
      <input type="text" id="choose" name="choose" />
      <br />
      <input type="submit" value="submit" />
      <br />
    </form>
    <script>
      let name2 = <%- JSON.stringify(name)%>;
      console.log(name2);
      document.getElementById("name").value = name2;
    </script>
    <% } %>
  </body>
</html>
