<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="/login" method="post">
      <label for="name">NAME :</label>
      <input type="text" id="name" name="name" /> <br />
      <br />
      <label for="password">PASSWORD :</label>
      <input type="password" id="password" name="password" /> <br />
      <br />
      <input type="submit" value="submit" />
    </form>
  </body>
</html>
